.gameplay {
  display: grid;
  grid-template-areas:
    '. time .'
    '. solo .'
    'player1 logo player2'
    '. highscore .';
  grid-row-gap: 35px;
  .small-logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
  }
  .time {
    grid-area: time;
    display: flex;
    flex-direction: column;
    width: 515px;
    align-items: center;
    justify-self: center;
    height: 224px;
    .seconds {
      font-size: 224px;
      margin-bottom: -35px;
    }
  }

  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    .numbers {
      text-align: center;
      font-size: 184px;
      margin-bottom: -35px;
      width: 262px;
    }
  }
  .solo {
    grid-area: solo;
  }
  .score-1 {
    grid-area: player1;
  }
  .score-2 {
    grid-area: player2;
  }
}
