.App {
  height: 100vh;
  background-color: #424242;
  color: #ffffff;
}
.logo {
  width: 582px;
  height: 243px;
  border: 10px solid #ffffff;
  box-sizing: border-box;
}

.container {
  padding-top: 33px;
  text-align: center;
  background-color: #424242;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
.container:focus {
  outline: none;
}
.players {
  list-style: none;
}
.players:focus {
  outline: none;
}
.initials {
  display: flex;
  flex-direction: row;
  list-style: none;
  &:focus {
    outline: none;
  }
  li {
    margin: 15px;
    .selected {
      color: green;
    }
  }
}
.selected {
  color: green;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.verticle-select {
  &:focus {
    outline: none;
  }
  .selected {
    color: green;
  }
}
