@font-face {
  font-family: 'slkscr';
  src: url(./img/slkscr.ttf) format('truetype');
}
@font-face {
  font-family: 'slkscb';
  src: url(./img/slkscrb.ttf) format('truetype');
}

.horizontal-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  width: 25px;
}

body {
  font-family: 'slkscr';
  font-size: 40px;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}

li.selected::before {
  content: url(./img/up.png);
  bottom: 30px;
  left: 4px;
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
}
li.selected::after {
  content: url(./img/down.png);
  top: 25px;
  right: 30px;
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
}
.App {
  height: 100vh;
  background: url('./img/EnterScreen-BG.png') bottom center repeat;
  color: #ffffff;
  z-index: -2;
  position: relative;
}
.travis {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: url('./img/Travis.png') left center no-repeat;
  z-index: -1;
  &.off {
    left: -1000px;
  }
  &.on {
    left: 0;
    transition: left 0.5s ease-in;
  }
}
.beth {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: url('./img/Beth.png') right center no-repeat;
  z-index: -1;
  &.off {
    right: -1000px;
  }
  &.on {
    right: 0;
    transition: right 0.5s ease-in;
  }
}

.logo {
  width: 582px;
  height: 150px;
  border: 10px solid #ffffff;
  box-sizing: border-box;
}

.container {
  padding-top: 33px;
  text-align: center;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  p {
    margin: 0;
  }
  .gameMode {
    border: 2px solid white;
    width: 582px;
    margin-bottom: 50px;
    font-family: 'slkscb';
  }
}
.container:focus {
  outline: none;
}
.players {
  list-style: none;
}
.players:focus {
  outline: none;
}
.initials {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-family: 'slkscb';

  &:focus {
    outline: none;
  }
  li {
    margin: 15px;
    font-family: 'slkscb';
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}
.verticle-select {
  &:focus {
    outline: none;
  }
  .selected {
    margin: 0 10px;
  }
}
.players {
  .horizontal-selection {
    .selected {
      margin: 10px;
      font-family: 'slkscb';
    }
  }
}
.small {
  font-size: 24px;
  font-family: 'slkscr';
}
.medium {
  font-size: 36px;
}
.conf-group {
  margin-bottom: 25px;
  font-family: 'slkscb';
}
