@font-face {
  font-family: 'slkscr';
  src: url(./img/slkscr.ttf) format('truetype');
}
@font-face {
  font-family: 'slkscb';
  src: url(./img/slkscrb.ttf) format('truetype');
}

body {
  font-family: 'slkscb';
  font-size: 80px;
  overflow: hidden;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  letter-spacing: -0.15em;
}
ul {
  padding: 0;
  margin: 0;
}
.navigateInput {
  position: absolute;
  left: -250px;
}
.title {
  font-size: 80px;
  position: absolute;
  font-family: 'slkscb';

  &.front {
    text-shadow: none;
    background: -webkit-linear-gradient(#4892d6, #2e5b8e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  &.back {
    text-shadow: -5px 0 #fff, 0 5px #fff, 5px 0 #fff, 0 -5px #fff;
  }
}
.horizontal-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 90px;
  .arrow {
    margin-left: 10px;
    &:first-child {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-top: 15px;
    }
  }
  .selected {
    text-shadow: -5px 0 #575454, 0 5px #575454, 5px 0 #575454, 0 -5px #575454;
  }
  &:focus {
    outline: none;
  }
}

.background {
  background: url('./img/EnterScreen-BG.png') bottom center repeat;
  z-index: -3;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.App {
  // background: url('./img/EnterScreen-BG.png') bottom center repeat;
  color: #ffffff;
  height: 100vh;
  position: relative;
}
.travis {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: url('./img/Travis.png') left center no-repeat;
  z-index: -1;
  right: 200px;
  top: 75px;
  &.off {
    left: -1000px;
  }
  &.on {
    left: 0;
    top: 120px;
    transition: left 0.5s ease-in;
  }
}
.beth {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: url('./img/Beth.png') right center no-repeat;
  z-index: -1;
  right: -200px;
  top: 75px;

  &.off {
    right: -1000px;
  }
  &.on {
    right: 0;
    top: 0px;

    transition: right 0.5s ease-in;
  }
}

.logo {
  width: 612px;
  height: 170px;
  // border: 10px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.home-background {
  background: url('./img/BG_Intro_screen.gif') bottom center repeat;
  z-index: -2;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.container {
  padding-top: 33px;
  text-align: center;

  display: grid;
  grid-template-rows: auto auto auto;
  // grid-gap: 20px;
  justify-items: center;
  align-items: center;

  p {
    margin: 0;
  }
  .gameMode {
    border: 2px solid white;
    width: 582px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'slkscb';
  }
}
.container:focus {
  outline: none;
}
.players {
  list-style: none;
  font-family: 'slkscb';
}
.players:focus {
  outline: none;
}
.initials {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-family: 'slkscb';

  &:focus {
    outline: none;
  }
  li {
    margin: 15px;
    font-family: 'slkscb';
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

.horizontal-selection {
  margin: 10px;
  .selected {
    margin: 0 10px;
    margin-right: 15px;
    font-family: 'slkscb';
    text-shadow: -5px 0 #575454, 0 5px #575454, 5px 0 #575454, 0 -5px #575454;
  }
}
.final-score {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  margin: 70px 0;
}
.start {
  margin-top: 200px;
}
.player-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  width: 240px;
  p.numbers {
    font-size: 184px;
  }
  .time {
    font-size: 90px;
  }
  .winner {
    text-shadow: -5px 0 #575454, 0 5px #575454, 5px 0 #575454, 0 -5px #575454;
  }
}
.winner-text {
  font-size: 60px;
  margin-top: 31px;
  color: #b5642f;
  text-shadow: -5px 0 #fff, 0 5px #fff, 5px 0 #fff, 0 -5px #fff;
}
.small-logo {
  height: 60px;
  font-size: 30px;
  font-family: 'slkscb';
}
.logo-big {
  height: 200px;
}
.small {
  font-size: 45px;
  letter-spacing: normal;
  font-family: 'slkscb';
}
.medium {
  font-size: 36px;
}
.conf-group {
  margin-bottom: 25px;
  font-family: 'slkscb';
}
.countdown {
  background: url('./img/CountdownBG.png') bottom center repeat;
  font-size: 374px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'slkscb';
  height: 100vh;
}
p.m-t-l {
  margin-top: 25px;
}
.gameMode-selection {
  width: auto;
  font-size: 75px;
}
.highscores {
  text-shadow: none;
  display: grid;
  justify-items: center;
  margin-top: 45px;
  li {
    display: grid;
    grid-template-columns: 50px repeat(3, minmax(auto, 100px)) auto;
    &:first-child {
      font-size: 20px;
      height: 28px;
    }
    font-size: 34px;
    letter-spacing: 0.01em;
  }
}
